:root {
    --color-primary: #d73953;
    --color-black : #090909;
    --color-white : #ffffff;
    --color-light-gray: #f3f3f3;
    --color-dark-gray: #353535;
    --text-color: var (--color-balck)
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--text-color);
}
a {
    background-color: var(--text-color);
}
.visually-hidden {
    display: none;
}
.section-tagline {
    background-color: var(--color-primary);
}
.card-category {
    background-color: var(--color-primary);
}
